/* --  text-colors  --*/

.white-color {  color: #fefefe;}
.placeholder-color {  color: #C2CED5;}
.primary-color {color: #00CE6A;}
.heading-color {color: #3E3E3E;}
.hover-color {color: #63c5ff;}
.paragraph-black {color: #8D8D8D;}
.paragraph-white {color: #D7E4ED;}

.bg-primary {background: #33b4ff;}